body {
    margin: 0;
    padding: 0;
}
  
  header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #d4dacf;
      padding: 20px;
    }
    
    .header-menu ul {
      list-style: none;
      margin-left:450px ;
      padding: 0;
    }
    
    .header-menu li {
      display: inline-block;
      margin-right: 80px;
    }
    
    .header-menu li:last-child {
      margin-right: 0;
    }
    
    .header-menu a {
      color: #333;
      text-decoration: none;
    }

    .header-menu :hover {          
      color: red;                  
    }
    
    .login-buttons button {
      background-color: #00ffaa;
      color: #fff;
      border: none;
      border-radius: 4px;
      padding: 10px 20px;
      cursor: pointer;
      font-size: 10px;
    }
    
    .login-buttons button:first-child {
      margin-right: 10px;
    }
  
  
  .main{ 
    background-color: #ede7ee; 
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   }
    .clear {
        clear: both;
    }

    .video-container {
        flex-basis: 70%;
        margin-right: 10px;
    }

    .video-container video {
        width: 60%;
        height: auto;
    }

    .image-container{
        width:250px;
    }
        .image{
            width: 200px; 
            margin: 5px; 
            border: 3px solid black;
            text-align: center; 
        }

        .image a{
            text-decoration: none;
        }
    
    .active {
        border: 2px solid red;
    }
    
    #pdf-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #pdf-link {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        font-size: 1.2rem;
        transition: background-color 0.2s ease-in-out;
    }
    
    #pdf-link:hover {
        background-color: #0062cc;
    }
  
  .footer {
      margin-top:20pt;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgba(78, 85, 85, 0.223);
      padding: 20px;
    }
    
    .information{
      margin-left: 185px;
      font-size: 16px;
    }
    
    