 .u-section-1 {
  min-height: 590px;
}

.u-section-1 .u-sheet-1 {
  min-height: 590px;
}

.u-section-1 .u-group-1 {
  width: 800px;
  min-height: 513px;
  height: auto;
  margin: 39px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 7px;
  line-height: 1;
  font-weight: 400;
  margin: 113px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 27px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 27px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 660px;
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 757px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 757px;
  }

  .u-section-1 .u-group-1 {
    min-height: 519px;
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 740px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 740px;
  }

  .u-section-1 .u-group-1 {
    min-height: 544px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 777px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 777px;
  }

  .u-section-1 .u-group-1 {
    min-height: 615px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }
}